<template>
  <form @submit.prevent="handleSubmit" class="form add-client">
    <div class="form__title">Добавить нового клиента</div>

    <div class="form__field">
      <div class="form__field-label">ФИО</div>

      <TextInput v-model="form.fullname"></TextInput>
    </div>

    <div class="form__field">
      <div class="form__field-label">Номер</div>

      <TextInput v-model="form.phone"></TextInput>
    </div>

    <div class="form__field">
      <div class="form__field-label">Город</div>

      <TextInput v-model="form.region"></TextInput>
    </div>

    <div class="form__field">
      <div class="form__field-label">Статус</div>

      <Select v-model="form.status">
        <option value="Активен">Активен</option>
        <option value="Приостановлен">Приостановлен</option>
        <option value="Неактивен">Неактивен</option>
      </Select>
    </div>

    <Button type="submit">Добавить</Button>
  </form>
</template>

<script setup lang="ts">
  import { ref } from 'vue';
  import TextInput from '../ui-kit/control/TextInput.vue';
  import Select from '../ui-kit/control/Select.vue';
  import Button from '../ui-kit/control/Button.vue';

  const emit = defineEmits(['submit'])

  const form = ref({
    fullname: '',
    phone: '',
    region: '',
    status: undefined,
  })

  function handleSubmit () {
    emit('submit', form.value)
  }
</script>

<style scoped lang="scss">
  @import '../../styles/import/form';

  .add-client {
    @apply max-w-xl;
  }
</style>