<template>
  <RouterLink class="nav-item" :to="url" :target="target">
    <component :is="`icon-${icon}`"/>
    {{ text }}
  </RouterLink>
</template>

<script setup lang="ts">
  import { RouterLink } from 'vue-router';
  import { NavItemType } from '../../../types/items';

  withDefaults(
    defineProps<NavItemType>(),
    {
      target: '_self',
    }
  )
</script>

<style scoped lang="scss">
  .nav-item {
    @apply
      transition-colors
      flex flex-row items-center gap-x-xs
      h-[4.375rem] px-xs py-[15px]
      border-black border rounded-3xl
      bg-transparent
      text-gray;

    &:hover {
      @apply text-white bg-white/20;

      .icon{
        @apply stroke-white fill-white;
      }
    }
  }
</style>
