<template>
  <a class="tel-link" :href="`tel:${value}`">
    {{ name }}
  </a>
</template>

<script setup lang="ts">
  import { NameValueType } from '../../../types/items';

  defineProps<NameValueType>()
</script>

<style scoped lang="scss">
  .tel-link {
    @apply font-bold transition-colors text-black;

    &:hover {
      @apply text-dirty-blue underline;
    }
  }
</style>