.icon {
  @apply w-10 h-10 min-w-10 min-h-10 stroke-gray fill-gray;

  path[stroke-width] {
    @apply stroke-inherit fill-none transition-colors;
  }

  path:not([stroke-width]) {
    @apply fill-inherit stroke-none transition-colors;
  }

  ellipse {
    @apply fill-inherit stroke-none transition-colors;
  }
}

.hide-scrollbar {
  scrollbar-color: transparent transparent;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    position: relative;
    width: 0;
    height: 0;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent !important;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent !important;
  }
}

.custom-scrollbar {
  scrollbar-color: #9BA8BB #1C274C;
  scrollbar-width: 12px;

  &::-webkit-scrollbar {
    position: relative;
    width: 12px;
    height: 0;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #1C274C !important;
    border-radius: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: #9BA8BB !important;
    border-radius: 6px;
  }
}

.small-custom-scrollbar {
  scrollbar-color: #9BA8BB #1C274C;
  scrollbar-width: 8px;

  &::-webkit-scrollbar {
    position: relative;
    width: 8px;
    height: 0;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #1C274C !important;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: #9BA8BB !important;
    border-radius: 4px;
  }
}
