<template>
  <button :class="classes" ref="dropdown" @focus="handleFocus" @focusout="handleClose">
    <div class="dropdown__label" @click="handleClick">
      {{ label }}
    </div>

    <div class="dropdown__menu-wrapper" @click.stop="handleClickInner">
      <slot>
        <ul class="dropdown__menu small-custom-scrollbar">
          <li class="dropdown__menu-item">
            Выпадающее меню
          </li>
        </ul>
      </slot>
    </div>
  </button>
</template>

<script setup lang="ts">
  import { computed, ref } from 'vue';

  interface IdropdownProps {
    label?: string,
    variant?: 'in-table',
  }

  const props = withDefaults(
    defineProps<IdropdownProps>(),
    {
      variant: 'in-table',
      label: 'Выпадающее меню',
    }
  )

  const emit = defineEmits(['close'])

  const classes = computed(() => [
    'dropdown',
    `dropdown--${props.variant}`,
    {
      'is-close': isClose.value,
    },
  ])

  const dropdown = ref<HTMLButtonElement>()
  const isClose = ref(true)
  const isClickInside = ref(false)

  function handleClick () {
    if (isClose.value) {
      isClose.value = false
    } else {
      handleClose()
    }
  }

  function handleClose () {
    if (!isClickInside.value) {
      isClose.value = true
      emit('close')
    }
    isClickInside.value = false
  }

  function handleClickInner () {
    isClickInside.value = true
    dropdown.value?.focus()
  }

  function handleFocus () {
    isClickInside.value = false
  }
</script>

<style scoped lang="scss">
  .dropdown {
    @apply h-6 relative;

    &__label {
      @apply cursor-pointer;
    }

    &__menu-wrapper {
      @apply
        absolute overflow-hidden
        max-h-64 w-full top-[calc(100%+8px)]
        transition-all rounded-[6px];

      -webkit-box-shadow: 4px 8px 8px 0px rgba(34, 60, 80, 0.2);
      -moz-box-shadow: 4px 8px 8px 0px rgba(34, 60, 80, 0.2);
      box-shadow: 4px 8px 8px 0px rgba(34, 60, 80, 0.2);
    }

    :deep(.dropdown__menu) {
      @apply overflow-auto max-h-64 flex flex-col bg-light-gray rounded-lg border;

      .dropdown__menu-item:not(:last-child) {
        @apply border-b border-b-gray;
      }
    }

    &.is-close {
      .dropdown__menu-wrapper {
        @apply max-h-0 shadow-black;
      }
    }

    &--in-table {
      @apply inline-flex w-full items-center justify-center;

      .dropdown__label {
        @apply bg-transparent border border-black rounded-lg w-4/5 transition-colors;

        &:hover {
          @apply bg-white/20;
        }
      }
    }
  }
</style>