<template>
  <aside :class="classes">
    <nav>
      <NavItem v-for="item in navItems"
        :url="item.url"
        :key="item.url"
        :text="item.text"
        :icon="item.icon"
      />
    </nav>
  </aside>
</template>

<script setup lang="ts">
  import { computed, ref } from 'vue'
  import NavItem from '../ui-kit/link/NavItem.vue';
  import { NavItemType } from '../../types/items';

  interface ISidebarProps {
    navItems?: NavItemType[]
  }

  withDefaults(
    defineProps<ISidebarProps>(),
    {
      navItems: () => [
        {
          url: '/',
          text: 'Главная',
          target: '_self',
          icon: 'home',
        },
        {
          url: '/',
          text: 'О нас',
          target: '_self',
          icon: 'about',
        },
        {
          url: '/clients',
          text: 'Клиенты',
          target: '_self',
          icon: 'clients',
        },
        {
          url: '/',
          text: 'Техподдержка',
          target: '_self',
          icon: 'hospital',
        },
        {
          url: '/',
          text: 'Страховым компаниям',
          target: '_self',
          icon: 'box',
        },
        {
          url: '/',
          text: 'Представителям инопланетных\xA0рас',
          target: '_self',
          icon: 'aliens',
        },
      ],
    },
  )

  const isCollapse = ref(false)

  const classes = computed(() => [
    'sidebar',
    {
      'is-collapse': isCollapse,
    },
  ])
</script>

<style lang="scss" scoped>
  .sidebar {
    @apply
      flex w-screen xl:w-1/5
      absolute xl:static
      z-10 top-0 right-0 bottom-0
      xl:z-0 xl:top-auto xl:right-auto xl:bottom-auto
      p-xs
      bg-dark-blue;

    &.is-collapse {
      @apply right-full xl:right-auto;
    }

    nav {
      @apply flex flex-col gap-y-4;
    }
  }
</style>