<template>
  <DefaultLayout>
    <BaseTable
      :headers="tableHeaders"
      :data="filteredTableData"
    >
      <template v-slot:default="{ row }">
        <tr class="base-table__row base-table__row--clicable" @click="goToClient(row.id)">
          <td>{{ row.id + 1 }}</td>

          <td>{{ row.fullname }}</td>

          <td>{{ new Date(row.created_at).toLocaleDateString('en-US', { year:'2-digit', month:'2-digit', day:'2-digit' }) }}</td>

          <td @click.stop>
            <TelLink :value="`tel:${row.phone}`" :name="formatPhone(row.phone)"/>
          </td>

          <td>{{ row.region }}</td>

          <td>{{ row.status }}</td>

          <td>
            <Button @click.stop="deleteClient(row.id)">Удалить</Button>
          </td>
        </tr>
      </template>

      <template v-slot:filtersRow>
        <tr class="base-table__filters-row">
          <td>
            <SearchInput
              placeholder="Поиск"
              v-model="filtersValues.id"
              @input="handleChangeSearch('id', $event?.target?.value?.toString())"
            ></SearchInput>
          </td>

          <td>
            <SearchInput
              placeholder="Поиск"
              v-model="filtersValues.fullname"
              @input="handleChangeSearch('fullname', $event?.target?.value)"
            ></SearchInput>
          </td>

          <td></td>

          <td>
            <SearchInput
              placeholder="Поиск"
              v-model="filtersValues.phone"
              @input="handleChangeSearch('phone', $event?.target?.value)"
            ></SearchInput>
          </td>

          <td>
            <Dropdown @close="filterData" label="Фильтр">
              <ul class="dropdown__menu small-custom-scrollbar">
                <li
                  class="dropdown__menu-item"
                  v-for="item in unique(filteredTableData.map(item => item.region))"
                  :key="item"
                >
                  <Checkbox :value="item" @change="handleChangeFilter('region', item, item)">
                    {{ item }}
                  </Checkbox>
                </li>
              </ul>
            </Dropdown>
          </td>
          <td>
            <Dropdown @close="filterData" label="Фильтр">
              <ul class="dropdown__menu small-custom-scrollbar">
                <li
                  class="dropdown__menu-item"
                  v-for="item in unique(filteredTableData.map(item => item.status))"
                  :key="item"
                >
                  <Checkbox :value="item" @change="handleChangeFilter('status', item, item)">
                    {{ item }}
                  </Checkbox>
                </li>
              </ul>
            </Dropdown>
          </td>

          <td></td>
        </tr>
      </template>
    </BaseTable>

    <AddClientForm @submit="createClient"/>
  </DefaultLayout>
</template>

<script setup lang="ts">
  import { computed, onMounted, ref } from 'vue'
  import DefaultLayout from '../layouts/DefaultLayout.vue'
  import BaseTable from '../components/BaseTable.vue'
  import TelLink from '../components/ui-kit/link/TelLink.vue'
  import { formatPhone, unique } from '../utils/helpers'
  import Dropdown from '../components/ui-kit/Dropdown.vue'
  import SearchInput from '../components/ui-kit/control/SearchInput.vue'
  import { ShortClientType } from '../types/items'
  import { useClientsStore } from '../store/clients'
  import { useRouter } from 'vue-router'
  import AddClientForm from '../components/form/AddClientForm.vue'
  import { storeToRefs } from 'pinia'

  const tableHeaders = ref([
    {
      name: 'ID',
      value: 'id',
      width: 40,
    },
    {
      name: 'ФИО',
      value: 'fullname',
      width: 250,
    },
    {
      name: 'Дата создания',
      value: 'created_at',
      width: 100,
    },
    {
      name: 'Телефон',
      value: 'phone',
      width: 200,
    },
    {
      name: 'Регион',
      value: 'region',
      width: 250,
    },
    {
      name: 'Статус',
      value: 'status',
      width: 150,
    },
    {
      name: '',
      value: 'empty',
      width: 100,
    },
  ])

  const filtersValues = ref({
    id: '',
    fullname: '',
    phone: '',
    region: new Map(),
    status: new Map(),
  })

  // const clietnsStore = useClientsStore()
  const { clients } = storeToRefs(useClientsStore())
  // const clients = ref<ShortClientType[]>([])
  // const clients = computed({
  //   get() {
  //     return clietnsStore.clients
  //   },
  //   set(value) {
  //     useClientsStore().clients = value
  //   }
  // })

  const filteredTableData = ref<ShortClientType[]>([])

  const router = useRouter()

  onMounted(() => {
    useClientsStore().getClients().then(() => {
      filteredTableData.value = clients.value
    })
  })

  function goToClient (id: number) {
    router.push(`/clients/${id}`)
  }

  function deleteClient (id: number) {
    if (confirm('Вы действительно хотите удалить пользователя ' + id)) {
      useClientsStore().deleteClient(id)
        .then(() => { filterData() })
    }
  }

  function handleChangeFilter (parentKey: 'region'|'status', key: number, value: string) {
    if (filtersValues.value[parentKey].has(key)) {
      filtersValues.value[parentKey].delete(key)
    } else {
      filtersValues.value[parentKey].set(key, value)
    }

    if (!filtersValues.value[parentKey].size) filterData()
  }

  function handleChangeSearch (key: 'id'|'fullname'|'phone', value: string) {
    filtersValues.value[key] = value

    filterData()
  }

  function filterData () {
    const id = filtersValues.value.id.toString()
    const fullname = filtersValues.value.fullname
    const phone = filtersValues.value.phone
    const filtersValuesRegion = Array.from(filtersValues.value.region.values())
    const filtersValuesStatus = Array.from(filtersValues.value.status.values())

    filteredTableData.value = clients.value.filter(item => {
      return (
        (!id.length || item.id.toString().includes(id) )
        && (!fullname.length || item.fullname.toLowerCase().includes(fullname.toLowerCase()) )
        && (!phone.length || item.phone.includes(phone) || formatPhone(item.phone).includes(phone) )
        && (!filtersValuesRegion.length || filtersValuesRegion.includes(item.region))
        && (!filtersValuesStatus.length || filtersValuesStatus.includes(item.region))
      )
    })
  }

  function createClient (client: ShortClientType) {
    useClientsStore().createClient(client)
      .then(() => { filterData() })
  }
</script>

<style scoped lang="scss">
  @import '../styles/import/base-table'
</style>