<template>
  <DefaultLayout>
    <template v-if="client">
      <div><b>id:</b> {{ client.id }}</div>
      <div><b>created_at:</b> {{ client.created_at }}</div>
      <div><b>fullname:</b> {{ client.fullname }}</div>
      <div><b>phone:</b> {{ client.phone }}</div>
      <div><b>region:</b> {{ client.region }}</div>
      <div><b>status:</b> {{ client.status }}</div>
    </template>
    <h2 v-else>Пользователь не найден</h2>
  </DefaultLayout>
</template>

<script setup lang="ts">
  import { storeToRefs } from 'pinia'
  import { useRoute } from 'vue-router'
  import DefaultLayout from '../layouts/DefaultLayout.vue'
  import { useClientsStore } from '../store/clients'

  useClientsStore().getClient(useRoute().params.id.toString())

  const { client } = storeToRefs(useClientsStore())
</script>

<style scoped lang="scss">

</style>