<template>
  <div :class="classes">
    <table class="base-table">
      <thead>
        <tr class="base-table__row base-table__row--header">
          <th
            v-for="head in headers"
            :key="head.value"
            @click="sortBy(head.value)"
            :style="{ width: head.width ? head.width + 'px' : 'auto'}"
          >
            {{ head.name }}
            <span
              v-if="head.name"
              :class="['base-table__sort', { 'opacity-0': head.value !== orderBy.key, 'rotate-180': orderBy.direction === 'asc' }]"
            >▽</span>
          </th>
        </tr>

        <slot name="filtersRow"></slot>
      </thead>

      <tbody v-if="innerData?.length">
        <slot is="tr" v-for="(row, index) in innerData" :row="row" :index="index">
          <tr class="base-table__row">
            <td v-for="head in headers">
              {{ row[head.value] }}
            </td>
          </tr>
        </slot>
      </tbody>

      <tbody v-else>
        <tr class="base-table__row">
          <td>
            {{ isFiltered ? 'Результатов нет, попробуйте изменить фильтры.' : 'Данные отсутствуют.' }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script setup lang="ts">
  import { computed, ref } from 'vue'
  import { IBaseTableProps, OrderByType } from '../types/table'
  import { orderAscByKey, orderDescByKey } from '../utils/helpers'

  const props = withDefaults(
    defineProps<IBaseTableProps>(),
    {
      data: () => [],
      isFilterable: false,
      isSortable: true,
    }
  )

  const emit = defineEmits(['changeFilters'])

  const isFiltered = ref(false)

  const orderBy = ref<OrderByType>({
    key: '',
    direction: 'asc',
  })

  const classes = computed(() => [
    'base-table__wrapper',
    'hide-scrollbar',
    {
      ' base-table__wrapper--sortable': props.isSortable,
    }
  ])

  const innerData = computed(() => {
    if (props.isSortable) {
      if (orderBy.value.key) {
        if (orderBy.value.direction === 'asc') {
          return [...props.data].sort((a, b) => orderAscByKey(a, b, orderBy.value.key!))
        } else {
          return [...props.data].sort((a, b) => orderDescByKey(a, b, orderBy.value.key!))
        }
      } else {
        return props.data
      }
    }
    return props.data
  })

  function sortBy (key: string) {
    if (props.isSortable && key !== 'empty') {
      if (orderBy.value.key === key) {
        if (orderBy.value.direction === 'desc') {
          orderBy.value = { key: null, direction: 'asc' }
        } else {
          orderBy.value = { key, direction: 'desc' }
        }
      } else {
        orderBy.value = { key, direction: 'asc' }
      }
    }
  }
</script>

<style scoped lang="scss">
  @import '../styles/import/base-table';
</style>