@tailwind base;
@tailwind components;
@tailwind utilities;

@import './styles/common';

:root {
  @apply text-black;
}

body {
  scrollbar-color: #9BA8BB #1C274C;
  scrollbar-width: 12px;

  &::-webkit-scrollbar {
    position: relative;
    width: 12px;
    height: 0;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #1C274C !important;
    border-radius: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: #9BA8BB !important;
    border-radius: 6px;
  }
}

// @media (prefers-color-scheme: light) {
//   :root {
//     color: #213547;
//     background-color: #ffffff;
//   }
//   a:hover {
//     color: #747bff;
//   }
//   button {
//     background-color: #f9f9f9;
//   }
// }
