<template>
  <div class="default-layout">
    <Sidebar/>

    <div class="default-layout__content custom-scrollbar">
      <slot/>
    </div>
  </div>
</template>

<script setup lang="ts">
  import Sidebar from '../components/layout/Sidebar.vue';
</script>

<style lang="scss" scoped>
.default-layout {
  @apply flex flex-col xl:flex-row flex-nowrap min-h-screen xl:max-h-screen w-screen;

  .default-layout__content {
    @apply w-full min-h-screen xl:min-h-[85vh] xl:h-[85vh] xl:w-4/5
      p-xs overflow-y-auto
      bg-gray/30;
  }
}
</style>
