<template>
  <button v-bind="$attrs" class="button">
    <slot/>
  </button>
</template>

<script lang="ts">
export default {
  inheritAttrs: false,
}
</script>

<style scoped lang="scss">
  .button {
    @apply bg-transparent border border-black rounded-lg transition-colors px-2 py-1;

    &:hover {
      @apply bg-white/40;
    }
  }
</style>