<template>
  <label class="checkbox">
    <div class="checkbox__label">
      <slot/>
    </div>

    <input v-bind="$attrs" type="checkbox">
  </label>
</template>

<script lang="ts">
export default {
  inheritAttrs: false,
}
</script>

<style scoped lang="scss">
  .checkbox {
    @apply
      flex justify-between items-center
      px-3 py-2
      cursor-pointer
      transition-colors;

    &__label {
      @apply text-md text-black
        text-nowrap text-ellipsis overflow-hidden
        mr-1;
    }

    input[type="checkbox"] {
      @apply accent-dark-blue min-w-4 min-h-4 border-2 border-black pointer-events-none;
    }

    &:hover {
      @apply bg-white/20;
    }
  }
</style>