<template>
  <input class="search-input" v-bind="$attrs" type="text">
</template>

<script lang="ts">
export default {
  inheritAttrs: false,
}
</script>

<!-- <script setup lang="ts">
</script> -->

<style scoped lang="scss">
  .search-input {
    @apply h-8 border-x px-2 py-1 w-full;

    &:focus {
      @apply outline-none;
    }
  }
</style>