<template>
  <select class="select" v-bind="$attrs" @input="handleInput" :value="modelValue">
    <slot/>
  </select>
</template>

<script lang="ts">
export default {
  inheritAttrs: false,
}
</script>

<script setup lang="ts">
  const modelValue = defineModel()
  const emit = defineEmits(['update:modelValue'])

  function handleInput (e: any) {
    emit('update:modelValue', e.target?.value)
  }
</script>

<style scoped lang="scss">
  .select {
    @apply
      h-10 px-2 py-1
      border-2 border-black rounded-lg p-10;

    &:focus {
      @apply outline-none;
    }
  }
</style>