<template>
  <input class="text-input" v-bind="$attrs" type="text" @input="handleInput" :value="modelValue">
</template>

<script lang="ts">
export default {
  inheritAttrs: false,
}
</script>

<script setup lang="ts">
  const modelValue = defineModel()
  const emit = defineEmits(['update:modelValue'])

  function handleInput (e: any) {
    emit('update:modelValue', e.target?.value)
  }
</script>

<style scoped lang="scss">
  .text-input {
    @apply
      h-10 px-3 py-1
      border-2 border-black rounded-lg;

    &:focus {
      @apply outline-none;
    }
  }
</style>