.base-table {
  @apply table-fixed w-full;

  &__wrapper {
    @apply
      inline-block rounded-lg border-2 overflow-auto max-w-full
      col-start-1 xl:col-start-2 col-end-[-1];

    &--sortable {
      th {
        @apply cursor-pointer;

        &:hover {
          @apply bg-gray/10;
        }
      }

    }
  }

  &__row {
    @apply h-10;

    &:not(:last-child) {
      @apply border-b border-black;
    }

    &:nth-child(odd):not(.base-table__row--header) {
      @apply bg-gray/30;
    }

    &:nth-child(even) {
      @apply bg-dark-blue/30;
    }

    &--header {
      @apply bg-dark-blue/70 border-b;
    }

    td {
      @apply p-3 text-center;
    }

    &.base-table__row--clicable {
      @apply transition-colors cursor-pointer;

      &:hover {
        @apply bg-dirty-blue/40;
      }
    }
  }

  th {
    @apply p-2 relative;
  }

  &__filters-row {
    @apply bg-dark-blue/40 border-b-2;

    td {
      @apply p-0 text-center relative;
    }
  }

  &__sort {
    @apply transition-transform rotate-0 inline-block absolute;
  }
}