.form {
  @apply flex flex-col gap-y-xs;

  &__title {
    @apply text-2xl font-medium;
  }

  &__field {
    @apply flex flex-col gap-y-1;

    &-label {
      @apply text-lg pl-1 font-medium;
    }
  }
}